<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Waterdrop</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/form.css">-->
  <link rel="stylesheet" href="assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
</head>

<body>

<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class= "navbar-brand" href="#featured"><h1>WaterGap <span class="subhead">Conservation Project</span></h1></a>
      </div><!--navbar-header-->
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#featured">Home</a></li>
        <li><a href="#mission">Mission</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#staff">Staff</a></li>
        <li><a href="#programs">Programs</a></li>
      </ul>
    </div> <!--collapse navbar-collapse-->
    </div><!-- container-->
   </nav>

 


  <div class="carousel slide" data-ride="carousel" id="featured">

    <ol class="carousel-indicators">
    
    </ol>


    <div class="carousel-inner">
        <div class="item active"><img src="assets/images/volta.JPG" alt="Lifestyle Photo"></div>
        <div class="item"><img src="assets/images/monkey.JPG" alt="Mission"></div>
        <div class="item"><img src="assets/images/watergathering.JPG" alt="Vaccinations"></div>
        <div class="item"><img src="assets/images/vivian.JPG" alt="Fish"></div>
        <div class="item"><img src="assets/images/batik.JPG" alt="Exotic Animals"></div>
    </div><!--corousel-inner-->

    <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featured" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- featured corousel slide-->
</header>

<div class="main">
   <div class="page" id="mission">
    <div class="container">
    <h2 class="yellow">Our Mission</h2>
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="janeh">
          <div class="quote">
            <span class="intro">This seminar is a reflective, discussion-based course designed to enrich your experiences while in Ghana. We will seek that objective in several different ways: by identifying the root causes of poverty from a global perspective, considering a variety of concepts and practices relevant to the protection of human rights, property rights and environmental concerns, gaining a greater understanding of the history, culture and economics of Ghana, and participating in a service trip to Accra, Ghana.
            </span>
          </div>
      
      </div>
    </div><!-- container -->
  </div><!-- testimonials page -->
</div><!-- main -->
    </div><!-- content container -->
  </div><!-- mission page -->

  <div class="page" id="services">
    <div class="content container">
      <h2>Services</h2>
      <div class="row">
        <article class="service col-md-4 col-sm-6 col-xs-12">
        <img class="icon" src="assets/images/education.png" alt="Icon">
        <h3>Computer Education</h3>
        <p>Computer & IT education.</p>
        </article>

      <article class="service col-md-4 col-sm-6 col-xs-12">
        <img class="icon" src="assets/images/business.png" alt="Icon">
        <h3>Grooming</h3>
        <p>Business training and mentorship.</p>
      </article>

      <article class="service col-md-4 col-sm-6 col-xs-12">
        <img class="icon" src="assets/images/health.png" alt="Icon">
        <h3>Health Services</h3>
        <p>Health professionals on the ground ready to serve the community.</p>
      </article>

      <article class="service col-md-4 col-sm-6 col-xs-12">
        <img class="thirty_icon" src="https://www.adanu.org/wp-content/themes/adanu/images/partner_icon.png" alt="Icon">
        <h3>Community Partnership</h3>
        <p>Adanu supervises critical stages of the project, and checks in regularly with working committees to keep the community accountable and on track. Volunteers engage with the community at different stages of the project to develop relationships, provide encouragement and support projects.</p>
      </article>

      <article class="service col-md-4 col-sm-6 col-xs-12">
        <img class="thirty_icon" src="https://www.adanu.org/wp-content/themes/adanu/images/engage_icon.png" alt="Icon">
        <h3>Community Engagement</h3>
        <p>Adanu’s model and expectations are clearly communicated to the community, community-led working committees are formed, and resources are committed to the project. Community members and leaders drive the project to completion.</p>
      </article>

      <article class="service col-md-4 col-sm-6 col-xs-12">
        <img class="thirty_icon" src="https://www.adanu.org/wp-content/themes/adanu/images/selection_icon.png" alt="Icon">
        <h3>Community Selection</h3>
        <p>Adanu selects communities based on their level of need and willingness to contribute a significant portion of time, labor and materials to the project. Adanu specifically targets communities that have been neglected by the government.</p>
      </article>

    
      </div> <!-- row -->
    </div> <!-- content container -->
  </div><!-- services page -->

  <div class="page" id="staff">
    <div class="container-fluid">
      <h2 id="ourstaff">Leadership</h2>
      <div class="row">



        <div class="doctor col-lg-4">
           <div class="row">
              <div class="photo col-xs-6 col-xs-offset-3 col-xs-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                <img class="img-circle" src="assets/images/hantaparia.png" alt="Photo of Dr Sanders">
              </div><!-- photo-->
              <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-lg-8">
                <h3>Hans Taparia</h3>
                <p>Professor Taparia has been an entrepreneur for most of his career. He is a co-founder of Preferred Brands International, a Connecticut-based food company that manufactures a range of natural and organic Indian and Asian meals under the brand Tasty Bite. Tasty Bite is currently the largest and fastest growing brand in its category in North America.</p>
              </div> <!--info-->
           </div> <!--row-->
        </div> <!-- doctor -->

      <div class="doctor col-lg-4">
           <div class="row">
              <div class="photo col-xs-6 col-xs-offset-3 col-xs-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                <img class="img-circle" src="assets/images/rachelkowal.png"  alt="Photo of Dr Sanders">
              </div><!-- photo-->
              <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-lg-8">
                <h3>Rachel Kowal</h3>
                <p>Professor Kowal is Deputy Director of the Business and Society Program at the Stern School. Other administrative positions held by Professor Kowal include Associate Director of the Markets, Ethics and Law Program; Director of the Citi Program in Leadership and Ethics; and, Associate Director of the Daniel P. Paduano Faculty Research Symposium in Business Ethics.</p>
              </div> <!--info-->
           </div> <!--row-->
        </div> <!-- doctor -->

        <div class="doctor col-lg-4">
           <div class="row">
              <div class="photo col-xs-6 col-xs-offset-3 col-xs-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                <img class="img-circle" src="assets/images/richard.png"  alt="Photo of Dr Sanders">
              </div><!-- photo-->
              <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-lg-8">
                <h3>Richard Yinkah</h3>
                <p>Richard Yinkah is the founder of Adanu. Adanu’s approach gives communities a firm stake in big decisions that affect their lives, and ownership and leadership over the projects they implement. This results in infrastructure and programs that are sustainable for the long term. It sparks a passion and ambition in community members to initiate other community development projects.</p>
               </div> <!-- doctor -->
           </div> <!--row-->
        </div> <!-- doctor -->



<!--PROGRAMS-->

<div class="page" id="programs">
    <div class="container-fluid">
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="janeh">
          <div class="quote">
            <span class="intro">Batik Textiles</span>
            <span class="more"> and itching on his belly and feet. Through diagnostic testing, we learned that Tonto is severely allergic to over a dozens kinds of grass pollens. We've now been doing allergy injections for several months, and his itching and redness have nearly gone away. I'm very thankful to the veterinarians and staff at Wisdom for the excellent care Tonto received, and for nipping his allergies in the bud, so to speak.</span>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="mcphersons">
          <div class="quote">
            <span class="intro">Computer Education</span>
            <span class="more">and urinating excessively, we brought her to see the specialists at Wisdom. After running a blood test, Dr. Winthrop confirmed what we all feared - Samantha was showing signs of diabetes. The doctor put us on a daily routine to provide Samantha insulin injections, and showed us how to administer the shots. We weren't sure </span>
            <span class="customer">The McPhersons</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="johnb">
          <div class="quote">
            <span class="intro">Clean Water Business</span>
            <span class="more">Golden Retriever, Roxie, started going into sudden kidney failure. They stabilized her and provided fluids until her kidneys were again functioning normally, but it was still a mystery as to what caused her health to decline so </span>
            <span class="customer">John B</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="lorraines">
          <div class="quote">
            <span class="intro">Agriculture Development</span>
            <span class="more">book pet fish for appointments. When our 13-year old Comet goldfish, McAllister, turned from silvery white to an angry red, we called around, urgently trying to find a veterinarian who could help. Wisdom not only got us in the same day, but also was able to diagnose McAllister as having a severe case of septicemia. In </span>
            <span class="customer">Lorraine S</span>
          </div>
        </blockquote>          
      </div>
    </div><!-- container -->
  </div><!-- testimonials page -->
</div><!-- main -->


<!--FOOTER-->

<footer>
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>Call us toll-free at <span class="phone">888-555-1212</span></p>
      </div><!-- col-sm-6 -->
      <div class="col-sm-6">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#featured">Home</a></li>
            <li><a href="#mission">Mission</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#staff">Staff</a></li>
            <li><a href="#programs">Programs</a></li>
          </ul>
        </nav>        
      </div><!-- col-sm-6 -->
    </div><!-- row -->
  </div><!-- content container -->
</footer>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="assets/js/myscript.js"></script>
 <!--<script src="assets/js/prefixfree.min.js"></script>-->
</body>
</html>
